---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<b><a href="https://paulgreaney.github.io/teaching/dissertations">Dissertation Supervision 2021-present</a></b><br></br>

<b>2024-2025</b><br>
<ul>
  <li>Computational Mathematics (MSc in Data Science)</li>
  <li>Preparatory Mathematics (BSc in Cyberpsychology, Year 1)</li>
  <li>Machine Learning (MSc in Data Science)</li>
  <li>Machine Learning (BSc in Data Science & AI, Year 2)</li>
  <li>Artificial Intelligence for Computer Vision and NLP (MSc in BDA and AI)</li>
  <li>Dissertation Coordination (MSc in Data Science)</li>
</ul>
<br></br>
<b>2023-2024</b><br>
<ul>
  <li>Computational Mathematics (MSc in Data Science)</li>
  <li>Preparatory Mathematics (BSc in Cyberpsychology, Year 1)</li>
  <li>Machine Learning (MSc in Data Science)</li>
  <li>- Introduction to Data Science (BSc in Cyberpsychology, Year 1)</li>
  <li>Artificial Intelligence for Computer Vision and NLP (MSc in BDA and AI)</li>
  <li>Dissertation Coordination (MSc in Data Science)</li>
</ul>
<br></br>

<b>2022-2023</b><br>
<ul>
  <li>Computational Mathematics (MSc in Data Science)</li>
  <li>Preparatory Mathematics (BSc in Cyberpsychology, Year 1)</li>
  <li>Machine Learning (MSc in Data Science)</li>
  <li>Introduction to Data Science (BSc in Cyberpsychology, Year 1)</li>
  <li>Artificial Intelligence for Computer Vision and NLP (MSc in BDA and AI)</li>
  <li>Business Intelligence (Diploma in Applied Data Technologies)</li>
</ul>
<br></br>

<b>2021-2022</b><br>
<ul>
  <li>Web Application Security and Sofware Standards (MSc in Cybersecurity)</li>
  <li>DevOps Project Management (MSc/PGDip in DevOps)</li>
  <li>Introduction to Cloud and Mobile Technologies (BSc in Computing/Applied Computing, Year 1)</li>
  <li>Computer Systems Programming (PGDip in Cloud Technologies)</li>
</ul>

<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
